PORT=5000
NODE_ENV=development # production
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://postgres:password@localhost:5432/OneStack

JWT_SECRET=supersecret
JWT_REFRESH_SECRET=superrefreshsecret

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.0-flash

REDIS_URL=redis://localhost:6379
REDIS_TLS=false